# .gitignore
venv/
__pycache__/
*.pyc
.pytest_cache/
.DS_Store
data/raw/*
!data/raw/.gitkeep
data/parsed/*
!data/parsed/.gitkeep
data/indexes/*
!data/indexes/.gitkeep
data/reports/*
!data/reports/.gitkeep
